$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
   $addSize: $pcSize - $mobSize;
   $addMobSize: $addSize + $addSize * 0.7;
   @media (max-width: 767px) {
      font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
   }
   @media (min-width: 767px) {
      font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
   }
}

/* $maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
} */

/* font-size: calc(35px + 109 * (100vw / 1664)); */
/* @media (min-width: 767px) {
   $ {
      font-size: calc(35px + (109 + 109 * 0.7) * ((100vw - 320px) / 1664));
   }
} */
