//!  ======================== Обнуление стилей
@import "_nullstyles";
/* //* ======================== Обертка и ограничивающий контейнер ======================== */
@import "_wrapper";
/* //* ======================== Image ibg ======================== */
@import "_ibg";
/* //* ======================== adaptiv-font ======================== */
@import "_adaptiv-font";
/* //* ======================== Line ======================== */
._line {
   position: absolute;
   width: 100%;
   height: 4px;
   left: 0;
   background: linear-gradient(270deg, #590209 0%, rgba(38, 1, 4, 0) 91.67%);
}
/* //* ======================== Pages ======================== */
/* .page__future {
} */
.page__about {
   margin-top: -4px;
}
/* //* ======================== Header ======================== */
body.lock {
   overflow: hidden;
}
.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(25, 5, 10, 0.7);
      z-index: 2;
   }
   @media (max-width: 768px) {
      position: fixed;
      &::before {
         background: rgba(25, 5, 10, 0.95);
      }
   }
   &__container {
      position: relative;
   }
   &__content {
      position: relative;
      display: flex;
      justify-content: space-between;
      min-height: 64px;
      align-items: center;
      padding-right: 5px;
   }

   &__logo {
      font-family: Vollkorn;
      font-weight: 500;
      /* font-size: 24px; */
      @include adaptiv-font(24, 20);
      line-height: calc(33 / 24 * 100%);
      z-index: 3;
      & a {
         color: #f2f2f2;
      }
      @media (min-width: 767px) {
         min-width: 250px;
      }
   }
   &__burger {
      display: none;
   }
}
.menu {
   display: flex;
   flex-wrap: wrap;

   &__item {
      &:not(:last-child) {
         margin: 0px 64px 0px 0px;
      }
      @media (max-width: 900px) {
         &:not(:last-child) {
            margin: 0px 25px 0px 0px;
         }
      }
   }
   &__link {
      position: relative;
      font-family: Raleway;
      font-weight: 400;
      font-size: 24px;
      line-height: calc(28 / 24 * 100%);
      color: #ffffff;
      z-index: 2;
      @media (max-width: 900px) {
         & {
            font-size: 18px;
         }
      }
   }
}
@media (max-width: 768px) {
   .header__content {
      min-height: 40px;
   }
   .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
      /* margin: 0px 20px 0px 0px; */
      & span {
         position: absolute;
         width: 100%;
         height: 2px;
         top: 9px;
         left: 0;
         background-color: #fff;
      }
      &.active span {
         transform: scale(0);
      }
      &::before,
      &::after {
         content: "";
         position: absolute;
         width: 100%;
         height: 2px;
         left: 0;
         background-color: #fff;
         transition: all 0.4s ease 0s;
      }
      &::before {
         top: 0;
      }

      &::after {
         bottom: 0;
      }
      &.active::before {
         transform: rotate(47deg);
         top: 9px;
      }
      &.active::after {
         transform: rotate(-47deg);
         bottom: 9px;
      }
   }
   .header__logo.active {
      background: rgb(25, 5, 10);
      margin: 0px -5px;
      padding: 5px 5px;
      z-index: 5;
   }
   .header__navigation {
      position: fixed;
      left: -100%;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgb(25, 5, 10);
      overflow: auto;
      transition: all 0.3s ease 0s;
      &.active {
         left: 0;
      }
   }
   .menu {
      display: block;
      padding: 100px 0px 0px 20px;
      &__link {
         font-size: 35px;
      }
   }
   .menu__item:not(:last-child) {
      margin: 0px 0px 20px 0px;
   }
}
/* //* ======================== Section future ======================== */
.future {
   position: relative;
   &__content {
      @media (min-width: 750px) {
         & {
            width: 720px;
         }
      }
   }
   &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img {
         object-position: 90% 0;
      }
   }
   &-line {
      bottom: 0px;
      z-index: 10;
   }
}
.future-block {
   position: relative;
   z-index: 2;
   padding: 208px 0px 217px 0px;
   &__title {
      font-family: Raleway;
      font-weight: 500;
      /* font-size: 144px; */
      @include adaptiv-font(144, 35);
      line-height: calc(169 / 144 * 100%);
      color: #fff;
      &:not(:last-child) {
         margin: 0px 0px 32px 0px;
      }
   }
   &__subtitle {
      font-family: Raleway;
      font-weight: 300;
      /* font-size: 24px; */
      @include adaptiv-font(24, 12);
      line-height: calc(28 / 27 * 100%);
      color: #fff;
      &:not(:last-child) {
         margin: 0px 0px 96px 0px;
      }
   }
   @media (max-width: 768px) {
      & {
         padding: 150px 0px 110px 0px;
      }
   }
}
.feedback {
   &__form-text {
      font-family: Raleway;
      font-weight: 300;
      /* font-size: 18px; */
      @include adaptiv-font(18, 12);
      line-height: calc(21 / 18 * 100%);
      color: #fff;
      &:not(:last-child) {
         margin: 0px 0px 24px 0px;
      }
      @media (max-width: 750px) {
         & {
            display: flex;
         }
      }
   }
   &__email {
      display: inline-flex;

      min-height: 56px;
      border-radius: 16px;
      border: rgba(89, 2, 9, 0) solid 1px;
      font-family: Raleway;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 1.5px;
      padding: 0px 10px;
      color: #fff;
      background-color: #59020980;
      margin: 0px 48px 0px 0px;
      &:focus {
         background-color: #971b2580;
      }
      &:valid {
         border-color: rgb(4, 241, 4);
      }
      @media (min-width: 450px) {
         & {
            min-width: 419px;
         }
      }
      @media (max-width: 430px) {
         & {
            min-height: 40px;
            font-size: 14px;
         }
      }
      @media (max-width: 750px) {
         & {
            width: 100%;
            margin: 0px 0px 20px 0px;
         }
      }
   }
   &__submit {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 14px 84px;
      min-height: 56px;
      border-radius: 16px;
      font-family: Raleway;
      font-weight: 300;
      font-size: 18px;
      color: #fff;
      background-color: #024959;
      transition: all 0.2s ease 0s;
      &:hover {
         cursor: pointer;
      }
      &:active {
         transform: translate(2px, 2px);
         color: #04f34c;
      }
      @media (max-width: 750px) {
         & {
            width: 100%;
         }
      }
      @media (max-width: 430px) {
         & {
            min-height: 40px;
            padding: 0;
         }
      }
   }
}
/* //* ======================== Section about ======================== */
.about {
   &__container {
      @media (max-width: 375px) {
         padding: 0;
      }
   }
   position: relative;
   z-index: 1;
   padding: 116px 0px 108px;
   @media (max-width: 768px) {
      padding: 70px 0px;
   }
   &__body {
      position: relative;
      z-index: 2;
   }

   &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img {
         object-position: 90% 0;
      }
   }
}
.body-container {
   display: flex;
   justify-content: center;
   &__content {
      flex: 0 1 880px;
      padding: 64px 8px 374px;
      position: relative;
      z-index: 3;
      text-align: center;
      @media (max-width: 768px) {
         padding: 60px 8px 175px;
      }
   }

   &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img {
         object-position: bottom;
         @media (min-width: 376px) {
            border-radius: 20px;
         }
      }
   }
}
.content-future {
   & > *:not(:last-child) {
      margin-bottom: 24px;
   }
   &__title {
      font-family: Raleway;
      font-weight: 700;
      /* font-size: 64px; */
      @include adaptiv-font(64, 40);
      line-height: calc(75 / 64 * 100%);
      color: #f2f2f2;
   }
   &__subtile {
      font-family: Raleway;
      font-weight: 400;
      /* font-size: 36px; */
      @include adaptiv-font(36, 18);
      line-height: calc(42 / 36 * 100%);
      color: #f2f2f2;
   }
   &__text {
      font-family: Raleway;
      font-weight: 400;
      /* font-size: 24px; */
      @include adaptiv-font(24, 14);
      line-height: calc(28 / 24 * 100%);
      color: #f2f2f2;
      text-align: justify;
   }
}
/* //* ======================== Section about ======================== */

/* //* ========================  Footer ======================== */
.footer {
   background: #19050a;

   &__content {
      min-height: 64px;
      text-align: center;

      @media (min-width: 768px) {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      @media (max-width: 768px) {
         & > * {
            margin: 0px 0px 14px 0px;
         }
      }
   }

   &__rights {
      font-family: Vollkorn;
      font-weight: 500;
      /* font-size: 36px; */
      @include adaptiv-font(36, 22);
      color: #f2f2f2;
      line-height: calc(50 / 36 * 100%);
      @media (max-width: 768px) {
         & {
            padding-top: 12px;
         }
      }
   }

   &__sicial {
      & a:not(:last-child) {
         margin: 0px 64px 0px 0px;
      }
      @media (max-width: 768px) {
         & a:not(:last-child) {
            margin: 0px 50px 0px 0px;
         }
      }
   }
}
